// CSS of games views

// Cards of index
.games-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.game-img-index {
  height: 350px;
}

.game-img-show {
  border-radius: 2px;
  height: 300px;
}

.game-data-list {
  list-style: none;
  padding: 0px;
}

.blackbox {
  background-color: black;
}
