// Specific CSS for your home-page
header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 10rem;
  height: auto;
  text-align: center;
  color: #fff;
  background-image: url("landing_page_image.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  position: relative;
  list-style: none;
  background-position-y: -100px;
}

.title, .services {
  color: white;
}


.page-section {
  background-repeat: no-repeat;
  background-image: url("gamegif.gif");
  background-size: cover;
}

.laptop, .cart, .gamepad {
  margin-bottom: 60px;
}

.flip{
  position: center;
  transition: all 1s ease;
  transform: perspective(600px);
  transform-origin: 100% 50%;
  transform-style: preserve-3d;
  }
  .flip:hover{
  transform: perspective(600px) rotateY(-180deg) translateX(100%);
  }

.flip .flip-1,
.flip .flip-2{
position: center;
backface-visibility: hidden;
}
.flip .flip-2{
transform: rotateY(-180deg);
}

.title {
  margin-top: -40px;
}

.flip-2 {
  color: rgb(247, 247, 249);
  font-size: 40px;
  display: flex;
  text-align: center;
  margin-top: -150px;
}

.flip-1 {
  margin-top: 15px;
}

.container {
  color: white;
}
