.form-actions {
  color: white;
}

.form-control {
  width: 325px;
}

.container-signup {
  margin-left: 10px;
  color: white;
}

.container-pass {
  margin-left: 10px;
  color: white;
}

.form-actions-password {
  width: 325px;
  color: white;
  text-align: center;
}
