.form-actions {
  color: white;
}

.form-control {
  width: 325px;
}

.container-signup {
  margin-left: 10px;
  color: white;
}

.container-pass {
  margin-left: 10px;
  color: white;
}

// .form-actions-password {
//  background-color: rgb(253, 85, 85);
//  color: white;
//  width: 325px;
 // text-align: center;
