.signin {
  background-image: url("gamegif.gif");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: -100px;
  color: white;
}

.form-actions:hover {
  background-color: rgba(255, 153, 0, 0.778);
}

.form-imputs {
  font-size: 100px;
}

.container {
  color: white;
}

.games-cards {
  color: black;
}

