.signin {
  background-image: url("gamegif.gif");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: -100px;
  color: white;
}

.form-imputs {
  font-size: 100px;
  color: white;
}

.container {
  color: white;
  margin-left: 10px;
}

.games-cards {
  color: black;
}

.login {
  color: white;
  margin-left: 10px;
}
