  <footer>
    <div class="iconos">
      <a href=""><i class="fa-brands fa-facebook icon"></i></a>
      <a href=""><i class="fa-brands fa-github icon"></i></a>
      <a href=""><i class="fa-brands fa-twitter icon"></i></a>
      <a href=""><i class="fa-brands fa-instagram icon"></i></a>
    </div>
  </footer>
